root {
    --cz-blue: #0d6efd;
    --cz-indigo: #6610f2;
    --cz-purple: #6f42c1;
    --cz-pink: #d63384;
    --cz-red: #dc3545;
    --cz-orange: #fd7e14;
    --cz-yellow: #ffc107;
    --cz-green: #198754;
    --cz-teal: #20c997;
    --cz-cyan: #0dcaf0;
    --cz-black: #000;
    --cz-white: #fff;
    --cz-gray: #7d879c;
    --cz-gray-dark: #373f50;
    --cz-gray-100: #f6f9fc;
    --cz-gray-200: #f3f5f9;
    --cz-gray-300: #e3e9ef;
    --cz-gray-400: #dae1e7;
    --cz-gray-500: #aeb4be;
    --cz-gray-600: #7d879c;
    --cz-gray-700: #4b566b;
    --cz-gray-800: #373f50;
    --cz-gray-900: #2b3445;
    --cz-primary: #fe696a;
    --cz-accent: #4e54c8;
    --cz-secondary: #f3f5f9;
    --cz-success: #42d697;
    --cz-info: #69b3fe;
    --cz-warning: #fea569;
    --cz-danger: #f34770;
    --cz-light: #fff;
    --cz-dark: #373f50;
    --cz-primary-rgb: 254, 105, 106;
    --cz-accent-rgb: 78, 84, 200;
    --cz-secondary-rgb: 243, 245, 249;
    --cz-success-rgb: 66, 214, 151;
    --cz-info-rgb: 105, 179, 254;
    --cz-warning-rgb: 254, 165, 105;
    --cz-danger-rgb: 243, 71, 112;
    --cz-light-rgb: 255, 255, 255;
    --cz-dark-rgb: 55, 63, 80;
    --cz-white-rgb: 255, 255, 255;
    --cz-black-rgb: 0, 0, 0;
    --cz-body-color-rgb: 75, 86, 107;
    --cz-body-bg-rgb: 255, 255, 255;
    --cz-font-sans-serif: "Rubik", sans-serif;
    --cz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --cz-body-font-family: var(--cz-font-sans-serif);
    --cz-body-font-size: 1rem;
    --cz-body-font-weight: 400;
    --cz-body-line-height: 1.5;
    --cz-body-color: #4b566b;
    --cz-body-bg: #fff;
    --cz-border-width: 1px;
    --cz-border-style: solid;
    --cz-border-color: #e3e9ef;
    --cz-border-color-translucent: rgba(0, 0, 0, 0.175);
    --cz-border-radius: 0.3125rem;
    --cz-border-radius-sm: 0.25rem;
    --cz-border-radius-lg: 0.4375rem;
    --cz-border-radius-xl: 1rem;
    --cz-border-radius-2xl: 2rem;
    --cz-border-radius-pill: 50rem;
    --cz-link-color: #fe696a;
    --cz-link-hover-color: #fe3638;
    --cz-code-color: #d63384;
    --cz-highlight-bg: #fff3cd;
}