*{
    margin: 0;
    padding: 0;
    /* font-family: Poppins,sans-serif;
    position: relative;
    color: #000;
    background-color: #f5f4fe;
    overflow-x: hidden; */
    /* background-color: #f5f4fe; */

}
body{
    background-color: #f5f4fe;
}
a{
    text-decoration: none;
    color: black;
}
.container-fluid{
    background-color: #f5f4fe;
    display: flex;
}

.section-box, .section-box-two, .table, .Category-box{
    background-color: #fff;
}
.section-box p{
    color: #ff6e40;
}
.product_icon{
    font-size: 20px;
    background-color: #ff6e40;
}
.profile{
    background-image: url('../IMG/three.jpg');
    background-color: #ff6e40;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.profile .info{
    display: flex;
    justify-content: space-around;
}
.box-profile{
    background-color: #fff !important;
    color: #ff6e40;
    font-family: cursive;
}
.profile img{
    border-radius: 50% !important;
    cursor: pointer;
}

.profile-info{
    margin-top: 130%;
}

.content-user{
    display: flex;
}